<form class="container" #user="ngForm" (ngSubmit)="OnSubmit(user.value)">
    <h1>Create account</h1>
    <div class="alert alert-dismissible alert-danger" *ngIf="email_exist">The mail has already been taken</div>
    <div class="form-group">
        <fieldset>
            <label class="form-label mt-4">Your First Name*</label>
            <input class="form-control" minlength="3" type="text" placeholder="First Name"
                [(ngModel)]="user.value.firstname" #firstname="ngModel" name="firstname"
                [class.is-invalid]="firstname.touched && !testn( firstname.value ) ">
            <div class="invalid-feedback">Please write a valid firstname</div>
        </fieldset>
    </div>

    <div class="form-group">
        <fieldset>
            <label class="form-label mt-4">Your Last Name*</label>
            <input class="form-control" type="text" placeholder="Last Name" name="lastname"
                [(ngModel)]="user.value.lastname" #lastname="ngModel"
                [class.is-invalid]="lastname.touched && !testn( lastname.value ) ">
            <div class="invalid-feedback">Please write a valid lastname</div>
        </fieldset>
    </div>

    <div class="form-group">
        <fieldset>
            <label class="form-label mt-4">Your Email*</label>
            <input class="form-control" type="email" placeholder="@Email" name="email" [(ngModel)]="user.value.email"
                #email="ngModel" [class.is-invalid]="email.touched && !teste( email.value )">
            <div class="invalid-feedback">Please write a valid email</div>
        </fieldset>
    </div>


    <div class="form-group">
        <fieldset>
            <label class="form-label mt-4">Type a Password</label>
            <input class="form-control" type="password" placeholder="Password" name="password"
                [(ngModel)]="user.value.password" #password="ngModel"
                [class.is-invalid]="password.touched && !testp( password.value )">
            <div class="invalid-feedback">Please write a strong password</div>
        </fieldset>
    </div>

    
    <div class="form-group">
        <fieldset>
            <input class="form-control" type="password" placeholder="RE-TYPE Password" name="repass"
                [(ngModel)]="re_pass" #repass="ngModel"
                [class.is-invalid]="repass.touched && repass.value!=password.value">
            <div class="invalid-feedback">uncorrect repassword</div>
        </fieldset>
    </div>
    <br>
    <div class="btns">
        <button type="reset" class="btn btn-danger">RESET</button>
        <button type="submit" class="btn btn-dark"
            [disabled]="!testn( firstname.value ) || !testn( lastname.value ) || !testp( password.value ) || repass.value!=password.value || !teste( email.value )">SIGN-IN</button>
    </div>
</form>