.home{
    margin-top: 70px;
}
.search-g {
    width: 250px;
    display: flex;
    border: 1px solid #e3d1d1;
    padding: 3px;
    border-radius: 45px;
    justify-content: center;
    align-items: center;
}
.search-g input{
    background: none;
    width: 200px;
    border: none;
    box-decoration-break: clone;
    outline: none;
    height: 40px;
    padding: 0 0 0 15px;
}
.search-g input:focus{
    outline: 0px none; outline: 0px auto -webkit-focus-ring-color;
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Categ{
    margin-top: 40px;
    margin-bottom: 40px;
}
.Games-cont {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 30px 0px;
}
.Game-div {
  margin: 20px 30px;
  width: 280px; 
  height: 390px;
  box-shadow: 0px 0px 10px -2px gray;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}
.bgimg{
  overflow: hidden;
  width: 280px;
  height: 240px;
  display: flex;
  align-items: center;
}
.bgimg img{
  width: -webkit-fill-available;
  object-fit: contain;
}
.info{
  font-family: var(--body-font);
}
.date {
  position: relative;
  top: 15px;
  left: 200px;
  width: 70px;
  text-align: center;
}
.name {
  position: relative;
  top: -15px;
  left: 10px;
  width: 175px;
  height: 58px; 
  display: flex;
  word-break: break-word;
  overflow: hidden;
  font-weight: 600;
  text-transform: uppercase; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  cursor: pointer;
}
.price {
  position: relative;
  top: -42px;
  left: 200px;
  width: 70px;
  display: flex;
  justify-content: center;
  color: green;
  font-weight: 500;
}
.cart {
    position: relative;
    top: -15px;
    left: 10px;
    width: 260px;
    height: 45px;
    border-radius: 4px;
    display: flex;
    border: 1px solid;
    justify-content: center;
    align-items: center;
    background: #3a5552;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    text-transform: uppercase;
    font-weight: 600;
    z-index : 1 ;
}
.cart:hover {
background: #262683;  
transition: 0.3s;
}

.alert-nogames[_ngcontent-ng-c3222744809] {
  padding: 35px 40px;
  font-size: 25px;
  line-height: normal;
  color: white;
  background: #c20505b3;
  box-shadow: 0px 0px 5px 0px #852323;
  border-radius: 5px;
}
h1{
  font-size: 40px;
  font-weight: 600;
  line-height: 32px;
  font-family: Roboto, sans-serif;
  letter-spacing: 3px;
  margin: 0 0 16px;
}